$errorColor : #e74c3c;
$primarycolor: #028D64;
$secondarycolor1 : #e0097e;
$secondarycolor2 : #9ABE36;

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

.validationError{
    list-style-type: none;
}

.dashboard {
    padding-top: 80px;
}
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}  

.errorMsg {
    color: $errorColor;

}
#navLogo {
    height : 46px;
}

.navbar-brand {
    padding:  2px 0 2px 0;
}

.form-horizontal {
    margin : 50px 0px 50px 0px;

}

#welcomeTitle {
    color : $secondarycolor2;
}


.mainBtn {
    background-color: $secondarycolor2;
    border-width: 0px;
    color: white;
    
        &:hover {
            background-color:  lighten($secondarycolor2, 2);
        }
    
    padding : 8px 16px;
    width : 30%;
    margin-top: 10px;
}
