@font-face {
  font-family: 'Tw cen';
  src: url("tw-cen.ttf");
}
/* line 14, ../sass/style.scss */
body {
  background-image: url("../images/vacation.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 22, ../sass/style.scss */
#logoDiv {
  text-align: center;
}
/* line 24, ../sass/style.scss */
#logoDiv #logo {
  width: 543px;
  height: 208px;
}

/* line 30, ../sass/style.scss */
#instructions {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  float: left;
  /*    text-align: center;*/
}
/* line 36, ../sass/style.scss */
#instructions p {
  font-size: 25px;
  font-family: 'Tw cen', Sans-Serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
}

/* line 47, ../sass/style.scss */
#codeForm {
  margin-top: 100px;
  width: 50%;
  display: inline-block;
}
/* line 51, ../sass/style.scss */
#codeForm ul {
  list-style-type: none;
  padding-left: 0%;
}
/* line 55, ../sass/style.scss */
#codeForm .form-control {
  width: 50%;
}

/* line 61, ../sass/style.scss */
.mainBtn {
  background-color: #9ABE36;
  border-width: 0px;
  color: white;
  padding: 8px 16px;
  width: 30%;
  margin-top: 10px;
}
/* line 66, ../sass/style.scss */
.mainBtn:hover {
  background-color: #a0c638;
}

/* line 82, ../sass/style.scss */
#registerForm {
  margin-left: 30%;
}
/* line 85, ../sass/style.scss */
#registerForm ul {
  list-style-type: none;
  padding-left: 0%;
}
