/* line 7, ../sass/style.scss */
.errorMsg {
  color: #e74c3c;
}

/* line 11, ../sass/style.scss */
#navLogo {
  height: 46px;
}

/* line 15, ../sass/style.scss */
.navbar-brand {
  padding: 2px 0 2px 0;
}

/* line 19, ../sass/style.scss */
.form-horizontal {
  margin: 50px 0px 50px 0px;
}

/* line 24, ../sass/style.scss */
#welcomeTitle {
  color: #9ABE36;
}

/* line 29, ../sass/style.scss */
.mainBtn {
  background-color: #9ABE36;
  border-width: 0px;
  color: white;
  padding: 8px 16px;
  width: 30%;
  margin-top: 10px;
}
/* line 34, ../sass/style.scss */
.mainBtn:hover {
  background-color: #a0c638;
}
